.cover {
  background: url('/media/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  

}


.pagina{
margin-left: 450px;
}

.registro{
  margin-top: 150px;
  text-align: center;
}


.nav-item{
  justify-content: space-around;
}

.nav-link{
  justify-self: normal;

}

.boton{
  border: none;
  border-radius: 1.5 px;
}