{% extends 'base/base.html' %}
{% block titulo %} Inicio {% endblock %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="cover">
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
          <div class="card my-3 shadow">
              <div class="card-body">
                 <span class="text-justify mt-3">
                  <h5> Hola mi nombre es Carla Salamone, soy Licenciada en Química. Nacida de Entre Ríos, pero viviendo en la actualidad en la ciudad de Rosario, Provincia de Santa Fe. </h5>
                  <br>
                  <h5> En este momento no estoy ejerciendo mi profesión; y gracias a esa circunstancia comencé a incursionar en el mundo de la programación. </h5>
                  <br>
                  <h5> Este es mi primer proyecto con Django, se trata de un formato de Blog genérico aplicando lo visto en clases y tutoriales en you tube. </h5>
                  <br>
                  <h5> Seguramente a medida que vaya adquiriendo práctica y conocimientos voy a poder mejorar esta presentación.</h5>
                  <br>
                </span>
                 
                  
                
              </div>
          </div>

        </div>

     
      
    </div>
  
    </div>
    
</div>
{% endblock  %}
